<div
  class="card"
  [ngStyle]="{
    'max-width': card.cardProps?.cardMaxWidth,
    width: card.cardProps && '100%'
  }"
>
  <div
    class="card__image"
    [ngStyle]="{
      background: 'url(' + card.imageSrc + ') no-repeat center',
      'background-size': 'cover',
      height: innerWidth >= 768 && card.cardProps?.imageHeight,
      width: innerWidth >= 768 && card.cardProps?.imageWidth
    }"
  ></div>

  <div
    class="card__button-content"
    [ngStyle]="{ display: isButtonVisible && 'flex' }"
  >
    <h1>{{ card.title }}</h1>
    <button type="button" (click)="handleOpen(card.details)">
      <span class="card__button__arrow-down"></span>
    </button>
  </div>
  <ng-content></ng-content>
  <app-details
    [details]="card.details"
    *ngIf="isOpen"
    [isOpen]="isOpen"
  ></app-details>
</div>
