.create-new__container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
  width: 100%;
}

.create-new__content {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  padding: 0 20px;
  width: 100%;
  max-width: 1162px;

  height: 100vh;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    div {
      display: inherit;
      flex-direction: column;

      align-items: flex-start;
      gap: 20px;
      width: 100%;

      label {
        font-size: 0.75rem;
        font-weight: bold;
        color: var(--yellow400);
        line-height: 1.0625rem;
        width: 100%;
      }

      input {
        padding: 10px;
        color: var(--gray180);
        font-size: 0.5625rem;
        border: 1px solid #9a6d0c;
        width: 100%;
      }
    }

    button {
      font-size: 0.9375rem;
      letter-spacing: 0.1875rem;
      width: 100%;
      color: white;

      padding: 12px 60px;

      border-radius: 25px;
      background: var(--yellow200);

      transition: background 0.2s;

      &:hover {
        background: var(--yellow900);
      }
    }
  }
}

@media (min-width: 768px) {
  .create-new__container {
    margin-top: 25px;
  }

  .create-new__content {
    form {
      div {
        label {
          font-size: 1.125rem;
          line-height: 1.5rem;
        }

        input {
          padding: 19px;
          font-size: 0.8125rem;
          border: 1px solid #9a6d0c;
        }
      }

      button {
        margin-top: 20px;
      }
    }
  }
}
