<div class="create-new__container">
  <div class="create-new__content">
    <app-h1>Novo cadastro de Hospital</app-h1>
    <app-separator></app-separator>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      <div>
        <label for="name"
          >Nome do hospital:
          <input
            id="name"
            type="text"
            formControlName="name"
            id="name"
            placeholder="Insira o nome aqui"
          />
        </label>

        <label for="image"
          >URL da imagem:
          <input
            type="text"
            formControlName="image"
            id="image"
            placeholder="https://minhaimagem.com/imagem.png"
            defaultValue="http://placeimg.com/640/480"
          />
        </label>

        <label for="address"
          >Enredeço do hospital:
          <input
            type="address"
            formControlName="address"
            id="address"
            placeholder="Digite o endereço aqui"
          />
        </label>

        <label for="phone"
          >Telefone do hospital:
          <input
            type="phone"
            formControlName="phone"
            id="phone"
            placeholder="(21)9999-9999"
          />
        </label>

        <label for="details"
          >Mais informações:
          <input
            type="details"
            formControlName="details"
            id="details"
            placeholder="Digite algo sobre o hospital"
          />
        </label>
      </div>

      <button [disabled]="!form.valid" type="submit">SALVAR</button>
    </form>
  </div>
</div>
