<app-default-container>
  <app-h1>Hospitais em destaque</app-h1>
  <app-separator></app-separator>
  <app-h2>
    Contando com os melhores hospitais do Rio de Janeiro, o plano Ouro dispõe
    para sua empresa as redes mais referenciadas com diversos benefícios para
    que você tenha um atendimento totalmente personalizado.
  </app-h2>

  <div class="container__cards">
    <app-card
      *ngFor="let card of cardData"
      [card]="card"
      [isButtonVisible]="isButtonVisible"
    ></app-card>
  </div>
  <div class="card--isActive"></div>
</app-default-container>
