<nav class="nav_container">
  <div class="nav_content">
    <div class="nav_images">
      <div id="d1">
        <img
          src="{{ logoNorteASul }}"
          alt="Logo norte a sul"
          width="60px"
          height="43px"
        />
      </div>
      <div>
        <img
          src="{{ logoPortoSeguro }}"
          alt="Logo Porto Seguro"
          width="98px"
          height="31px"
        />
      </div>
    </div>

    <!-- COMPONENT WIDE NAV -->
    <app-wide-nav></app-wide-nav>

    <!-- COMPONENT MOBILE NAV -->
    <app-mobile-nav class="nav_mobile"></app-mobile-nav>
  </div>
</nav>
