<footer class="footer__container">
  <div>
    <img
      src="http://localhost:4200/assets/images/seloANS.png"
      width="89px"
      height="19px"
      alt="Selo ANS"
    />
  </div>

  <div class="footer__marlin-logo">
    Desenvolvimento:
    <img
      src="http://localhost:4200/assets/images/marlinLogo.png"
      width="47px"
      height="20px"
      alt="Logo Marlin"
    />
  </div>

  <p>
    Todos os direitos reservados. © 2021
    <br />
    Norte a Sul Corretora de Seguros de Vida, Capitalização,
    <br />
    Previdência Privada e Planos de Saúde LTDA
    <br />
    CNPJ 14.280.310/0001-11
    <br />
    Av. Nilo Peçanha, 50 - Sala 809 - Centro
    <br />
    Rio de Janeiro/RJ - CEP: 20.020-906
  </p>
</footer>
